// _layoutGrid.scss
@mixin templateGrid {
  margin: 0;
  padding: 0;

  text-align: center;

  display: grid;
  grid-template-columns: auto 1000px auto;
  grid-template-rows: auto auto 100px;
  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

@mixin headerGrid {
  grid-area: header;
}

@mixin mainGrid {
  grid-area: main;
  justify-items: center;
}

@mixin footerGrid {
  grid-area: footer;
}