// main.scss
// Import
@import 'color';
@import 'layoutGrid';
@import 'layoutFlex';

body {
  background-color: $black;
  color: $white;

  font-family: 'Roboto', sans-serif;
  @include templateGrid;
}

header {
  @include headerGrid;
}

main {
  @include mainGrid;
}

h2 {
  width: 100%;
}

img {
  max-width: 300px;
}

.olderDays {
  @include flexOlderDays;
}

.olderDays img {
  padding: 10px 50px;
}

#olderDaysShow {
  cursor: s-resize;
}

footer {
  @include footerGrid;
}