// main.scss
// Import
@import 'color';
@import 'layout';

body {
  background-color: $black;
  color: $white;

  font-family: 'Roboto', sans-serif;
  @include templateGrid;
}

header {
  @include headerGrid;
}

main {
  @include mainGrid;
}

footer {
  @include footerGrid;
}