// main.scss
// Import
@import 'color';
@import 'layoutGrid';
@import 'layoutFlex';

body {
  background-color: $color-Background;
  color: $color-Text;
  font-size: 1em;

  font-family: 'Roboto', sans-serif;
  @include templateGrid;
}

header {
  @include headerGrid;
}

.lastUpdate {
  color: $color-UpdateTime;
  margin: 0.1em;
}

main {
  @include mainGrid;
}

h1 {
  margin: 0.5em 0 0.1em 0;
}

h2 {
  width: 100%;
}

img {
  max-height: 80vh;
}

figure {
  margin: 0;
}

.olderDays {
  @include flexOlderDays;
  img {
    @include flexImage;
  }
}

#olderDaysShow {
  border-bottom: solid 1px;
}

footer {
  @include footerGrid;
}